<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>What does Reposit do?</p>
<p>The simplest answer is that we are an online profile for your work, mainly focussed on websites you have created. This is an easy way for programmers to create and share a portfolio of their work.</p>