<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>What do you need help for?</p>
<p>If you are finding Reposit hard to use, either I have messed up or you aren't the sort of person that needs Reposit!</p>
